<div class="quest-list-container">
  <div class="quest-table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Quêtes</th>
        <th>Type</th>
        <th>Level</th>
        @for (character of (characters$ | async); track character.characterId) {
          <th>
            <img [src]="character.classDTO.classIcon" alt="Class Icon" width="24" height="24"/> <!-- Icône de la classe -->
          </th>
        } @empty {
          <th>No characters available</th>
        }
      </tr>
      </thead>
      <tbody>
        @for (quest of (combinedData$ | async); track quest.questId) {
          <tr>
            <td class="quest-name">{{ quest.questName }}</td>
            <td class="quest-type">{{ quest.questType }}</td>
            <td class="quest-description">{{ quest.questDescription }}</td>
            @for (character of quest.characters; track character.uniqueKey) {
              <td>
                <input
                  type="checkbox"
                  [ngModel]="character.completionStatus"
                  (ngModelChange)="updateStatus(character.characterId, quest.questId, $event)"
                />
              </td>
            }
          </tr>
        } @empty {
          <tr>
            <td colspan="3">No quests available</td> <!-- Mise à jour de colspan pour inclure la nouvelle colonne -->
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
